* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
.addBookBanner {
    background-color: #1F2937;
    width: 100%;
    color: #F9FAF8;
    padding: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

header {
    justify-content: space-between;
}

button {
    padding: 10px;
    background-color: #F9FAF8;
    color: #1F2937;
    border-radius: 5px;
    border: 1px solid;
}

#add-new-book {
    min-width: 150px;
}

.addBookBanner {
    display: flex;
    justify-content: center;
}

.addBookBanner input {
    padding: 10px;
    border-radius: 5px;
    flex: 5;
}

.addBookBanner input[type="number"] {
    flex: 1;
}

.addBookBanner div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {

}

footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    margin-top: auto;
    height: 50px;
}

.library-shelf {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 25px;
}

.book {
    display: flex;   
    flex-direction: column;
    min-width: 250px;
    border: 1px solid #1F2937;
    border-radius: 5px;
    padding: 10px;
}